<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jerson Gerong</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-person-badge-fill" aria-hidden="true"></span> About & Education
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-gear-wide-connected" aria-hidden="true"></span> Skills & Tech Stack
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span> Work History
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
